Repository propelorm/Propel2, pull requests merged in 2025-04, with the labels that each got.

#2024 ci: fix deprecation messages
  .github/workflows/ci.yml
Labels: Compatibility issue

#2021 test:mysql fix test setup
  tests/Fixtures/schemas/schema.xml
Labels: Tests

#2023 phpstan: fix deprecation warning
  phpstan.neon
Labels: Tests

#2034 Use updated calls of GH actions api
  .github/workflows/ci.yml
  tests/Fixtures/bookstore/schema.xml
Labels: Bug, Tests
